.Cont6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    background-color: rgb(109, 209, 212);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }
 
  
  